.DS_Store
.Rproj.user
.Rhistory
.RData
/Users/ppm/Documents/Projects/darkspaceproject/dsp_comparison/.Rproj.user
/Users/ppm/Documents/Projects/darkspaceproject/dsp_comparison/.Rhistory
/Users/ppm/Documents/Projects/darkspaceproject/dsp_comparison/.RData
/Users/ppm/Documents/Projects/darkspaceproject/BioGRID/.Rproj.user
/Users/ppm/Documents/Projects/darkspaceproject/BioGRID/.Rhistory
/Users/ppm/Documents/Projects/darkspaceproject/BioGRID/.RData
/Users/ppm/Documents/Projects/darkspaceproject/epmc_text_mining/.Rproj.user
/Users/ppm/Documents/Projects/darkspaceproject/epmc_text_mining/.Rhistory
/Users/ppm/Documents/Projects/darkspaceproject/epmc_text_mining/.RData
/Users/ppm/Documents/Projects/darkspaceproject/EVEX/.Rproj.user
/Users/ppm/Documents/Projects/darkspaceproject/EVEX/.Rhistory
/Users/ppm/Documents/Projects/darkspaceproject/EVEX/.RData
/Users/ppm/Documents/Projects/darkspaceproject/GO_IPI/.Rproj.user
/Users/ppm/Documents/Projects/darkspaceproject/GO_IPI/.Rhistory
/Users/ppm/Documents/Projects/darkspaceproject/GO_IPI/.RData
/Users/ppm/Documents/Projects/darkspaceproject/iid_predictions/.Rproj.user
/Users/ppm/Documents/Projects/darkspaceproject/iid_predictions/.Rhistory
/Users/ppm/Documents/Projects/darkspaceproject/iid_predictions/.RData
/Users/ppm/Documents/Projects/darkspaceproject/IMEx/.Rproj.user
/Users/ppm/Documents/Projects/darkspaceproject/IMEx/.Rhistory
/Users/ppm/Documents/Projects/darkspaceproject/IMEx/.RData
/Users/ppm/Documents/Projects/darkspaceproject/IMEx/processed_files/intact_pairs.txt
/Users/ppm/Documents/Projects/darkspaceproject/OmniPath/.Rproj.user
/Users/ppm/Documents/Projects/darkspaceproject/OmniPath/.Rhistory
/Users/ppm/Documents/Projects/darkspaceproject/OmniPath/.RData
/Users/ppm/Documents/Projects/darkspaceproject/reactome_interactions/.Rproj.user
/Users/ppm/Documents/Projects/darkspaceproject/reactome_interactions/.Rhistory
/Users/ppm/Documents/Projects/darkspaceproject/reactome_interactions/.RData